h1{
  Font-family: Verdana;
  Font-weight: Normal;
  Font-size: 50px;
  Color: White;
  text-align: center;
}
h2{
  Font-Family: Verdana;
  Font-Weight: 300;
  Font-Size: 42px;
  Color: White;
}
h3{
  font-family: verdana;
  color: gray;
}
body{
  background-color: black;
  text-align: center;
}
nav{
  Color: Aquamarine;
  font-size: 16px;
}
.foot{
  text-align: right;
}
